version: "3.8"

services:
  database:
    image: postgres:12.19-bullseye
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_USER: test
      POSTGRES_DB: task-list
